body{
  font-family: 'Open Sans', sans-serif;
  background:url(../img/background.jpg);
  background-color: #cccccc;
  background-size: 100%;
  margin: 0 auto 0 auto;  
  width:100%; 
  text-align:center;
  margin: 20px 0px 20px 0px;   
}
a, u {
    text-decoration: none;  
}

p{
  font-size:18px;
  text-decoration: none;
  color:#800080;
}

h1{
  font-size:1.5em;
  color:#525252;
}
h3{

  color: #f08a26;
}

.box{
  background:#f4f6fa;
  width:300px;
  border-radius:20px;
  margin: 0 auto 0 auto;
  padding:0px 0px 70px 0px;
  border: #a8a6ee 4px solid; 
}

.boxfront{
  background:#f4f6fa;
  width:80%;
  border-radius:20px;
  margin: 0 auto 0 auto;
  padding:0px 0px 70px 0px;
  border: #a8a6ee 4px solid; 
}

.email{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:250px;
  color:#2b97eb;
  margin-top:20px;
  font-size:1em;
  border-radius:4px;
}




.btn{
  background:#2ecc71;
  width:125px;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:10px;
  border: #27ae60 1px solid;
  margin-top:20px;
  margin-bottom:20px;
  float:left;
  margin-left:16px;
  font-weight:800;
  font-size:0.8em;
}

.btn:hover{
  background:#2CC06B; 
}

#btn2{
  float:left;
  background:#3498db;
  width:125px;  
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:10px;
  border: #2980b9 1px solid;
  margin-top:20px;
  margin-bottom:20px;
  margin-left:10px;
  font-weight:800;
  font-size:0.8em;
}

#btn2:hover{ 
background:#3594D2; 
}



#btn3{
  background:#CF6744;
  width:125px;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:10px;
  border: #27ae60 1px solid;
  margin-top:20px;
  margin-bottom:20px;
  float:center;
  margin-left:16px;
  font-weight:800;
  font-size:0.8em;
}
#btn4{
  background:#65bff5;
  width:125px;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:10px;
  border: #27ae60 1px solid;
  margin-top:50px;
  margin-bottom:20px;
  float:center;
  margin-left:16px;
  font-weight:800;
  font-size:2em;
}

hr {
    border-top: 3px dashed red;
}

.hr1{
  border: 2; 
  height: 30px; 
  border-style: solid; 
  border-color: red; 
  border-width: 2px 0px 0 0px; 
  border-radius: 20px; 
}

.hr2{
  border: 2; 
  height: 30px; 
  border-style: solid; 
  border-color: red; 
  border-width: 0px 2px 2px 2px; 
  border-radius: 20px; 

}

